{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}Publicaciones {% endblock %}</h2>
    {% if g.user %}
        <a href="{{ url_for('blog.create') }}">Publicar algo</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}   
        <article>
            <header>
                <div>
                    <h3 class="titulo-post">{{ post.title }}</h3>

                </div>
                <div>
                    {% if g.user.id == post.author %}
                    <a href="{{ url_for('blog.update', id=post.id) }}">Editar</a>
                    <a href="{{ url_for('blog.delete', id=post.id) }}">Eliminar</a>
                    {% endif %}
                </div>
            </header>
            <div class="ckeditor">
                {{ post.body | safe }}
                <hr style="margin-top: 5px;">
                <div class="about">
                    Fecha: {{ post.created.strftime('%d-%m-%Y') }}
                    <a style="margin-right: 8px;" href="{{ url_for('blog.profile', id=post.author) }}">Autor: {{ get_user(post.author).username }}</a>
                </div>
                <hr style="margin-top: 5px;">
            </div>
        </article>
    {% endfor %}
{% endblock %}
    <!-- Scripts al final del cuerpo -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '.ckeditor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
