<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/blog.ico') }}" type="image/x-icon">
    <title>Mi blog | {% block title %}{% endblock %}</title>
    {% if request.endpoint == 'blog.profile' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="nav">
            <div>
                <a href="{{ url_for('blog.index') }}">
                    <h1>Mi Blog</h1>
                </a>
            </div>
            <nav>
                {% if g.user %}
                {% if request.endpoint == 'blog.profile' %}
                <a href="{{ url_for('blog.create') }}">Publicar algo</a>
                {% endif %}
                <img src="{{ url_for('static', filename='img/user.png') }}" alt="">
                <a href="{{ url_for('blog.profile', id=g.user.id) }}">{{ g.user.username }}</a>
                <a href="{{ url_for('auth.logout') }}">Cerrar Sesion</a>
                {% else %}
                    <a href="{{ url_for('auth.register') }}">Registrar Usuario</a>
                    <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
                {% endif %}
            </nav>
        </div>

    </header>

    <section>
        <div class="content">
            <header>{% block header %} {% endblock %}</header>

            {% for message in get_flashed_messages() %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
    
            {% block content %} {% endblock %}
        </div>
    </section>
    
</body>
</html>